<div class="container">
  <div class="jumbotron">
    <h1>Welcome to <%= link_to "OMRails", "http://localhost:3000/" %></h1>
    <p>This is the home page.</p>
    <%= link_to "Sign Up Now", "#", {:class => "btn btn-default"} %>
  </div>
</div>
